/**
 * Game Client Theme Overrides
 *
 * This file defines the game-specific theme values.
 * Import this after the shared theme in globals.css.
 */

/* generate tailwind classes for the design system colors */
@theme {
  --color-ds-dock-bg: var(--ds-dock-bg);
  --color-ds-app-bg: var(--ds-app-bg);
  --color-ds-primary-900: var(--ds-primary-900);
  --color-ds-text-800: var(--ds-text-800);
}

:root {
  --ds-dock-bg: var(--color-slate-800);
  --ds-app-bg: var(--color-violet-50);
  --ds-primary-900: var(--color-violet-900);
  --ds-text-800: var(--color-slate-800);
}
