/* swipper arrows color */
:root {
  --swiper-navigation-color: black;
  --swiper-pagination-color: var(--color-violet-800);
}

.swiper-button-prev,.swiper-button-next {
  /* border: 1px solid black; */
/* padding-top: 32px; */
  padding-left: 16px;
  padding-right: 16px;
  height: 100%;
  width: 48px;
  top: unset !important;
  bottom: 0 !important;
  margin-top: 0 !important;

  svg{
    /* border: 1px solid black; */
    margin-top: auto;
    margin-bottom: 56px;
    height: 32px !important;
    width: 32px !important;
  }
}

.focus-ring {
  --focus-ring-width: 2px;
  --focus-ring-offset-width: 2px;
  --focus-ring-color: #7c3aed; /* violet-00 */
  --focus-ring-offset-color: #f1f5f9; /* slate-100 */
}

.focus-ring:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 0;
  box-shadow:
    0 0 0 var(--focus-ring-offset-width) var(--focus-ring-offset-color),
    0 0 0 calc(var(--focus-ring-offset-width) + var(--focus-ring-width)) var(--focus-ring-color);
}
