/**
 * Game Client Global Styles
 *
 * Order matters:
 * 1. Tailwind directives
 * 2. Shared theme contract from @kartuli/tailwind-config
 */

@import "tailwindcss";
@import "@kartuli/tailwind-config";

@source "../";
@source "../../../../packages/ui/src";

@theme {
  /* component colors */
  --color-kartuli-color-dock-bg: var(--color-slate-800);
  --color-kartuli-color-app-bg: var(--color-violet-50);
  /* primary colors */
  --color-kartuli-color-primary-50: var(--color-violet-50);
  --color-kartuli-color-primary-100: var(--color-violet-100);
  --color-kartuli-color-primary-200: var(--color-violet-200);
  --color-kartuli-color-primary-300: var(--color-violet-300);
  --color-kartuli-color-primary-400: var(--color-violet-400);
  --color-kartuli-color-primary-500: var(--color-violet-500);
  --color-kartuli-color-primary-600: var(--color-violet-600);
  --color-kartuli-color-primary-700: var(--color-violet-700);
  --color-kartuli-color-primary-800: var(--color-violet-800);
  --color-kartuli-color-primary-900: var(--color-violet-900);
  /* text colors */
  --color-kartuli-color-text-50: var(--color-slate-50);
  --color-kartuli-color-text-100: var(--color-slate-100);
  --color-kartuli-color-text-200: var(--color-slate-200);
  --color-kartuli-color-text-300: var(--color-slate-300);
  --color-kartuli-color-text-400: var(--color-slate-400);
  --color-kartuli-color-text-500: var(--color-slate-500);
  --color-kartuli-color-text-600: var(--color-slate-600);
  --color-kartuli-color-text-700: var(--color-slate-700);
  --color-kartuli-color-text-800: var(--color-slate-800);
  --color-kartuli-color-text-900: var(--color-slate-900);
}

/*
 Georgian font and default font variables
 */
@theme {
  --font-georgian: var(--font-georgian);
  --font-default: var(--font-default);
}
/*
 This makes all pages have a stable scrollbar gutter
 so there are no layout shifts for pages with / withouth scrollbars
 */
@layer utilities {
  .scrollbar-gutter-stable {
    scrollbar-gutter: stable;
  }
}

/*
 Custom scrollbar styles
 */
/* ::-webkit-scrollbar {
  width: 0.25rem;
}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background-color: yellow;
} */

:root {
  --app-bar-height: 5rem;
  --rail-dock-height: 5rem;
  --rail-collapsed-width: 6rem;
  --rail-expanded-width: 14rem;
}
